* { box-sizing: border-box; }

body {
	margin: 0; 
	padding: 0;
}

.wrapper {
	height: 500px;
	width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.beige-box {
	width: 768px;
	height: 500px; 
	background: #afab98;
	padding: 50px;
}

.lightbeige-box {
	width: 400px;
	height: 400px; 
	background: #c1c1bd;
	padding: 50px;
}

.red-rectangle {
	width: 500px;
	height: 50px; 
	background: #f00;
}

.green-box {
	width: 300px;
	height: 300px; 
	background: #0f0;
	padding: 20px;
}

.red-bar {
	background: #f00;
	width: 260px;
	height: 50px;
	margin: 0 0 20px 0;
}
