* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: helvetica, Arial, sans-serif;
}

.header {
  font-size: 40px;
  position: fixed;
  width: 100%;
  padding: 25px;
  top: 0;
  left: 0;
}

.cart {
  position: absolute;
  top: 25px;
  right: 25px;
}

.content {
  width: 987px;
  margin: 96px auto 0 auto;
}

.item {
  display: inline-block;
  width: 276px;
  font-size: 40px;
  margin: 0 25px 50px 25px;
  cursor: pointer;
}

.item img {
  width: 100%;
  margin-bottom: 10px;
}

.item:hover .add-button {
  border-bottom: 2px solid #000;
}