* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: helvetica, Arial, sans-serif;
}

.header {
  font-size: 40px;
  position: fixed;
  width: 100%;
  padding: 25px;
  top: 0;
  left: 0;
  z-index: 100;
}

.cart-button {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100px;
  background: #000;
  color: #fff;
  width: 675px;
  padding: 25px 40px 40px 40px;

}

.cart.hide {
  display: none;
}

.close-button {
  text-align: right;
  border-bottom: 1px solid #fff;
  padding-bottom: 25px;
  cursor: pointer;
}

.checkout-button {
  margin-top: 40px;
  background: #fff;
  color: #000;
  text-align: center;
  padding: 25px;
}

.line-item {
  position: relative;
  padding: 25px 0;
  border-bottom: 1px solid #fff;
}

.line-item-img {
  width: 100px;
  height: 100px;
  background: #fff center center no-repeat;
  background-size: contain;
}

.a {background-image: url('../img/a.jpg');}
.b {background-image: url('../img/b.jpg');}
.c {background-image: url('../img/c.jpg');}
.d {background-image: url('../img/d.jpg');}
.e {background-image: url('../img/e.jpg');}
.f {background-image: url('../img/f.jpg');}
.g {background-image: url('../img/g.jpg');}
.h {background-image: url('../img/h.jpg');}

.line-item-price {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
}

.content {
  width: 987px;
  margin: 96px auto 0 auto;
}

.item {
  display: inline-block;
  width: 276px;
  font-size: 40px;
  margin: 0 25px 50px 25px;
  cursor: pointer;
}

.item img {
  width: 100%;
  margin-bottom: 10px;
}


/* parent/child relationship */
.item:hover .add-button {
  border-bottom: 2px solid #000;
}

.item.in-cart img {
  opacity: .25;
}

.item.in-cart .description {
  display: none;
}

.item.in-cart:after {
  content:'In Cart';
}