
body {
    background-image: url("PR.png") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(54, 45,49);
}    

.container {
}

h1 { 
    background: rgb(211,199,189);
    padding: 10px;
    color: rgb(54, 45,49);
    position: fixed;
    font-family: 'Barrio';font-size: 52px;
    margin-left: 10%;
    Margin-top: 10%;
}

p {
    font-family: 'Barrio';font-size:30px;
    padding: 5px;
    background: rgb(211,199,189);
    color: rgb(54, 45,49);
    position: absolute;
    margin-left:70%;
    margin-top: 70%;
}

