
body {
    background-image: url("PR.png") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(54, 45,49);
}    

.container {
}

h1 { 
    text-transform: lowercase;
    background: rgb(211,199,189);
    padding: 10px;
    color: rgb(54, 45,49);
    position: fixed;
    font-family: 'Barrio';font-size: 42px;
    margin-left: 10%;
    Margin-top: 10%;
}

